#section2-movingtext1 {
  transform: translateY(100px);
  transition: all 1s;
  opacity: 0;
}
#section2-movingtext2 {
  transform: translateY(100px);
  transition: all 1s;
  opacity: 0;
}
#section2-movingtext3 {
  transform: translateY(100px);
  transition: all 1s;
  opacity: 0;
}
#section2-movingtext4 {
  transform: translateY(100px);
  transition: all 1s;
  opacity: 0;
}
#section2-movingtext5 {
  transform: translateY(100px);
  transition: all 1s;
  opacity: 0;
}
#section2-movingtext6 {
  transform: translateY(100px);
  transition: all 1s;
  opacity: 0;
}

#section2 {
  height: 100%;
  width: 100%;
}
