@tailwind base;
@tailwind components;
@tailwind utilities;

.serif {
  font-family: orelo, serif;
  letter-spacing: 0.07em;
}

.App {
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 85%;
  }
}
@media only screen and (min-width: 100em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 21.875em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (max-width: 12.5em) {
  html {
    font-size: 31.25%;
  }
}
